.App {
	
}

}

.headerrow {
	page-break-before: always;
	border: solid;
	height: 100vh;
	width: 90%;
	text-align: center;
}

.header {
	
}

.imageslide {
	page-break-before: always;
	border: dashed;
}